html, body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;
}

#key-stream {
  height: 100%;
  width: 100%;
  background: #000;
  display: block;
  margin: 0 auto -5em;
}

footer {
  clear: both;
  position: absolute;
  background: black;
  width: 100%;
  padding: 20px 0 100px 0;
}

#intro-message {
  z-index: 1000;
  height: 10000px;
  display: block;
}

#disrupt-message {
  text-align: center;
  margin: -35% 0 0 35%;
  position: absolute;
  text-decoration: none;
  color: white;
  background: black;
  border: solid 5px white;
  padding: 0.2em;
  display: block;
  width: 300px;
  height: 200px;
}

#disrupt-button {
  font-size: 50px;
}